@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

:root {
  /*Sticky note colors - https://community.miro.com/ask-the-community-45/sticky-note-hex-values-7604 */
  --yellow: #fff9b1;
  --white: #f5f6f8;
  --lightorange: #f5d128;
  --olive: #d0e17a;
  --green: #d5f692;
  --pastelblue: #a6ccf5; 
  --aqua:#67c6c0;
  --blue: #23bfe7;
  --orange: #ff9d48;
  --pink: #ea94bb; 
  --red: #f16c7f;
  --purple: #b384bb;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-image: url(../assets/images/wood-board-background_low_res.jpg);
  display: grid;
  background-size: 100%, 100vh;
  background-attachment: scroll;
  font-family: 'Pacifico', cursive;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  min-height: 100vh;
  place-items: center;
  gap:5em;
  padding:50px;
}

.note2 {
  grid-area: 1 / 1 / 2 / 3;
  width: calc(100%);
  transform: rotate(0deg);
  top:0;
  left:0;
}
@media screen and (width < 700px) {
  .note2 {
    grid-area:1 / 1 / 2 / 2;
  }
  a {
    min-width:70%;
    aspect-ratio: 3/2;
  }
  .note {
    aspect-ratio: 3/2;
  }
}
@media screen and (width > 1200px) {
  .main {
    grid-template-columns: repeat(4, 1fr);
  }
  body{
    background-image: url(../assets/images/wood-board-background_high_res.jpg);
    /* background-image: url(../assets/images/wooden-texture-4k.jpg); */
  }
  a:not(.note2) {
    width: 100%;
  }
  .note:not(.note2) {
    aspect-ratio: 1/1;
  }
  .note2 {
    aspect-ratio: 3/2;
  }
}
.note {
  background-color: var(--white);
  color:black;
  position: relative;
  display: grid;
  min-width: 200px;
  min-height: 200px;
  text-align: center;
  box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.35);
  font-size:2.5em;
  place-items: center;
  padding:1em;
  transition: filter 200ms ease, transform 200ms ease-in-out, box-shadow 200ms ease;
}
.note:hover {
  transform: scale(105%, 105%);
  filter:saturate(1.5);
  box-shadow: 3px 7px 7px 5px rgba(0, 0, 0, 0.35);
}
a{
  text-decoration: none;
  color:#1e1e1e;
  letter-spacing: 0.03em;
  min-width: 100%;
}