.board {
  grid-template-columns: 1fr 1fr;
  overflow-y: scroll;
  margin: 0 5%;
}
@media screen and (width < 600px) {
  .board {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 170px);
  }
}
iframe {
  height:100%;
  width:100%;
  border-radius: 20px;
}
